.board {
  border: 1rem solid #ff652f;
  background: #ff652f;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .board {
    width: 320px;
    height: 340px;
  }
}
