#app {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header'
    'info game'
    'footer footer';
  grid-template-columns: 280px auto;
  grid-template-rows: 50px auto;
  align-items: center;
}

#app > * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info-wrapper {
  grid-area: info;
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
  text-align: center;
}

.info-wrapper button {
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}

#header {
  grid-area: header;
}

#game {
  grid-area: game;
}

#footer {
  grid-area: footer;
}

@media only screen and (max-width: 768px) {
  #app {
    grid-template-areas:
      'header'
      'game'
      'info'
      'footer';
    grid-template-columns: auto;
    grid-template-rows: 50px auto 1fr 50px;
  }

  #app > * {
    align-items: flex-start;
  }
}
